/* page.html*/
.fixed-wrap {
  height: 100vh !important;
  min-height: 100vh !important;
  padding-bottom: 0 !important;
}

.center-wrap {
  margin-bottom: 50px;
  position: relative;
  height: 100vh;
}

.main-logo-box {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(../images/common/logo.svg) center no-repeat;
}

.copyright {
  width: 100%;
  text-align: center;
  font-size: 12px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  color: rgba(170, 170, 170, 0.6);
}

/*login.html*/
.logo {
  padding-top: 10px;
  width: 60px;
  margin: 0 auto;
}

.login-wrap {
  padding-top: 6.3em;
}

.login-wrap .tit {
  font-size: 2.6em;
  font-weight: 700;
  text-align: center;
  padding-bottom: 1.3em;
}

.login-wrap .input_icon {
  margin-top: 1.6em;
  position: relative;
}

.login-wrap .input_icon span {
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  background: url(../images/common/pw_icon.svg) center no-repeat;
}

.login-wrap .input_icon span.on {
  background: url(../images/common/pw_icon_on.svg) center no-repeat;
}

.login-wrap .link-wrap {
  padding: 1.5em 0 3em;
  text-align: center;
}

.login-wrap .link-wrap a {
  display: inline-block;
  font-size: 13px;
  color: #676767;
  margin: 0 16px;
  position: relative;
}

.login-wrap .link-wrap .user_link {
  position: relative;
}

.login-wrap .link-wrap .user_link::after {
  content: '';
  display: block;
  width: 1px;
  height: 12px;
  background-color: #DDDDDD;
  position: absolute;
  top: 1px;
  right: -16px;
}

.login-wrap .link-wrap .user_link::before {
  content: '';
  display: block;
  width: 1px;
  height: 12px;
  background-color: #DDDDDD;
  position: absolute;
  top: 1px;
  left: -16px;
}

.login-wrap .wrap-btn .line_or {
  position: relative;
  display: block;
  width: 100%;
  padding: 30px 0;
  font-size: 0;
  line-height: 0;
}

.login-wrap .wrap-btn .line_or .txt_or {
  display: inline-block;
  width: 40px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #DBDBDB;
}

.login-wrap .wrap-btn .line_or:before, .login-wrap .wrap-btn .line_or:after {
  display: inline-block;
  width: calc(50% - 20px);
  height: 1px;
  margin: 8px 0;
  background-color: rgba(0, 0, 0, 0.06);
  vertical-align: top;
  content: '';
}

.login-wrap .wrap-btn .kakao-btn {
  background-color: #FFDB43;
  color: #2B2B2A;
  font-weight: 400;
}

.login-wrap .wrap-btn .kakao-btn span {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: -5px;
  margin-right: 10px;
  background: url(../images/common/icon_kakao.svg) center no-repeat;
}

/*join.html ~ password.html*/
.join-wrap .login-wrap input[type="text"],
.join-wrap .login-wrap select {
  font-weight: 700;
}

.join-wrap .join-cont-box {
  height: 500px;
}

.join-wrap .main-txt {
  font-size: 24px;
  padding: 34px 0 24px;
}

.join-wrap .login-wrap .input_icon .close_icon {
  background: url(../images/common/icon_close_02.svg) center no-repeat;
}

.join-wrap .btn_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.join-wrap .btn_input .left_input {
  width: 62%;
  height: 58px;
  line-height: 58px;
  background-color: #fff;
  font-size: 16px;
  border-radius: 10px;
}

.join-wrap .btn_input .right-btn {
  width: 35%;
  font-size: 14px;
  border-radius: 5px;
}

.join-wrap .code_icon .left_input {
  width: 100%;
  height: 58px;
  line-height: 58px;
  background-color: #fff;
  font-size: 16px;
  border-radius: 10px;
}

.join-wrap .code_icon .no {
  background: none;
  font-size: 12px;
  color: #1AD5FC;
  font-weight: 700;
  display: inline-block;
  width: 50px;
  line-height: 20px;
  text-align: right;
}

.join-wrap .miss_msg {
  color: #E33D59;
  font-size: 12px;
  padding-top: 5px;
  padding-left: 20px;
  position: relative;
}

.join-wrap .miss_msg::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  background: url(../images/common/icon_red_msg.svg) center no-repeat;
}

.join-wrap .scs_msg {
  color: #1AD5FC;
}

.join-wrap .scs_msg::before {
  background: url(../images/common/icon_blue_msg.svg) center no-repeat;
}

.agree_list li {
  padding: 20px 0;
  position: relative;
}

.agree_list button {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(../images/common/arrow_down_02.svg) center no-repeat;
}

.home-wrap {
  width: 100%;
  height: 100vh;
}

.home-wrap .cont-wrap {
  width: 90%;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.home-wrap .cont-wrap .txt-area {
  padding-bottom: 12em;
}

.home-wrap .cont-wrap .txt-area p {
  font-size: 32px;
}

.home-wrap .cont-wrap .txt-area .gray {
  font-size: 16px;
  color: #737373;
  margin-bottom: 5px;
}

.home-wrap .cont-wrap .link-wrap a {
  display: block;
  width: 100%;
}

.home-wrap .cont-wrap .link-wrap .line-btn {
  background: #fff;
  color: #1AD5FC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #1AD5FC;
  margin-bottom: 8px;
}

.join-wrap .pw-cont-box {
  height: 612px;
}

.join-wrap .pw-cont-box .input_icon .pw-tit {
  font-size: 14px;
  margin-bottom: 8px;
}

.join-wrap .pw-cont-box .input_icon .sub-txt {
  font-size: 12px;
  color: #AAAAAA;
  margin-bottom: 8px;
}

.join-wrap .pw-cont-box .input_icon input[type="text"] {
  font-weight: normal;
}
