/*font*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);


/* html5요소 하위브라우져 적용 */
header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption {
    display: block
}

/* 모든 Device를 위한 공통 로드 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
h7,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure,
figcaption,
span {
    margin: 0;
    padding: 0;
    color: rgb(0,0, 0);
    letter-spacing: -0.5px;
}

* {
    -webkit-text-size-adjust: none;
}

body {
    height: 100%;
    font-size: 10px;
    font-family: 'NanumSquare','Noto Sans KR', 'Noto Sans Korean', sans-serif;
}

textarea,
input,
button,
select {
    font-family: inherit;
    font-size: inherit;
    border: none;
    background: none;
}

table {
    border-spacing: 0;
    *border-collapse: collapse;
}

fieldset,
img {
    border: 0
}

img {
    vertical-align: middle;
    width: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

legend,
caption {
    text-indent: -100%;
    *text-indent: 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-shadow: none;
    color: transparent;
}

a {
    text-decoration: none;
    outline: 0;
    color: #2B2B2A;
}

select,
input {
    vertical-align: middle;
}

section {
    overflow: hidden;
}

:root,
html {
    font-size: 10px;
}


.ir {
    overflow: hidden;
    text-indent: -9999px;
    position: absolute;
    z-index: -9999;
    top: -10000px;
    left: -100000px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inlineBlock {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.clear::after {
    content: "";
    clear: both;
}

.oh {
    overflow: hidden
}

.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.ovh {
    overflow: hidden;
}


.d_hidden {
    display: block !important;
}

.m_hidden {
    display: none !important;
}

/*slick*/
.slick-slide,
.slick-slide:focus {
    outline: 0;
}

/*font*/
@import url(https://cdn.jsdelivr.net/npm/noto-sans-kr@0.1.1/styles.css);

@font-face {
    font-family: AppleSDGothicNeo;
    font-style: normal;
    font-weight: 100;
    src: url(../../font/AppleSDGothicNeoT.ttf) format('truetype');
    /*For IE6~8*/
}

@font-face {
    font-family: AppleSDGothicNeo;
    font-style: normal;
    font-weight: 300;
    src: url(../../font/AppleSDGothicNeoT.ttf) format('truetype');
    /*For IE6~8*/
}

@font-face {
    font-family: AppleSDGothicNeo;
    font-style: normal;
    font-weight: 300;
    src: url(../../font/AppleSDGothicNeoL.ttf) format('truetype');
    /*For IE6~8*/
}

@font-face {
    font-family: AppleSDGothicNeo;
    font-style: normal;
    font-weight: 500;
    src: url(../../font/AppleSDGothicNeoR.ttf) format('truetype');
    /*For IE6~8*/
}

@font-face {
    font-family: AppleSDGothicNeo;
    font-style: normal;
    font-weight: 700;
    src: url(../../font/AppleSDGothicNeoSB.ttf) format('truetype');
    /*For IE6~8*/
}

@font-face {
    font-family: AppleSDGothicNeo;
    font-style: normal;
    font-weight: 900;
    src: url(../../font/AppleSDGothicNeoB.ttf) format('truetype');
    /*For IE6~8*/
}

/* input 기본 스타일 초기화 */
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
    display: none;
}

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body { min-width: 320px;}

/* margin */
/* margin */
.mr0 {
    margin-right: 0 !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mt100 {
    margin-top: 100px !important;
}


.mtM10 {
    margin-top: -10px !important
}

.ml0 {
    margin-left: 0 !important;
}

.ml5 {
    margin-left: 5px !important;
}

.mr1 {
    margin-right: 1px !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mr30 {
    margin-right: 30px !important;
}

/* padding */
.pt0 {
    padding-top: 0 !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pt30 {
    padding-top: 30px !important;
}

.pt40 {
    padding-top: 40px !important;
}

.pb6 {
    padding-bottom: 6px !important;
}

.pl0 {
    padding-left: 0 !important;
}

.pr0 {
    padding-right: 0 !important;
}

.pr10 {
    padding-right: 10px !important;
}

/* text type */

/* btns */

/*title*/
.sub-title h3 {
    font-weight: 900;
    font-size: 2.604165vw;
}

.sub-title2 {
    margin-top: 4%;
}

.sub-title2 h3 {
    font-weight: 700;
    font-size: 2.604165vw;
}

/* align */
.cl_left {
    clear: left
}

.center {
    text-align: center !important;
}

.top {
    vertical-align: top !important
}

.bottom {
    vertical-align: bottom
}

.middle {
    vertical-align: middle !important
}

.alignRight {
    text-align: right !important
}

.alignLeft {
    text-align: left !important
}

/* position */
.posRel {
    position: relative;
    z-index: 1;
}

/* width */
.w50 {
    width: 50% !important
}

.w33 {
    width: 33.33% !important
}

/* height */
.h30 {
    height: 30px;
}

/* text style */
.bold {
    font-weight: 700;
}

.redTxt {
    color: #E33D59 !important
}

.blueTxt {
    color: #0469D9 !important
}

.greenTxt {
    color: #548826 !important
}

.color777 {
    color: #777 !important
}

/* display */
.displayNone {
    display: none;
}

/* lineheight */
.lineHeight0 {
    line-height: 0px !important;
}

.table_wrap {
    height: 130px;
    overflow-y: scroll;
    width: 100%;
}

.table_wrap01 {
    height: 290px;
    overflow-y: scroll;
    width: 100%;
}

.table_wrap02 {
    height: 350px;
    overflow-y: scroll;
    width: 100%;
}

.table_wrap03 {
    height: 400px;
    overflow-y: scroll;
    width: 100%;
}

.scroll_box::-webkit-scrollbar {
    width: 2px;
}

.scroll_box::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll_box::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #6F6F6F;
}

.scroll_box::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

input,
button {
    border-radius: 0;
    -webkit-appearance: none
}


input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0;
    display: none;
}

input[type="checkbox"]:checked + label:after {
    background: url(../../images/common/bg_checkbox_on.png) center no-repeat;
}

input[type="checkbox"] + label {
    position: relative;
    padding-left: 25px;
    font-size: 14px;
    color: #73768D;
}

input[type="checkbox"] + label:after {
    content: "";
    position: absolute;
    top: 55%;
    left: 0;
    transform: translate(0, -50%);
    width: 17px;
    height: 17px;
    background: url(../../images/common/bg_checkbox_off.png) center no-repeat;
}


input[type="radio"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0;
    display: none;
}

input[type="radio"]:checked + label:after {
    background: url(../../images/common/bg_radio_on.png) center no-repeat;
}

.futures input[type="radio"]:checked + label:after{
    background: url(../../images/common/bg_radio_on_wt.png) center no-repeat;
}

input[type="radio"] + label {
    position: relative;
    padding-left: 22px;
    font-size: 14px;
    color: #9C9EB2;
    cursor: pointer;
}

input[type="radio"] + label:after {
    content: "";
    position: absolute;
    top: 55%;
    left: 0;
    transform: translate(0, -50%);
    width: 14px;
    height: 14px;
    background: url(../../images/common/bg_radio_off.png) center no-repeat;
}


/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) {
    body {
        -webkit-text-size-adjust: none;
    }
}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    /* paging */
    /* Styles */
}

/* iPads (landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops */
@media only screen and (min-width : 1025px) {
    /* Styles */
    /* paging */

}

/* Large screens  */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}

/*animation*/
@keyframes menuOpne {
    0% {
        height: 3px;
    }

    50% {
        width: 100%;
        height: 3px;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes menuClose {
    0% {
        width: 100%;
        height: 100%;
    }

    50% {
        width: 100%;
        height: 3px;
    }

    100% {
        width: 0%;
        height: 3px;
    }
}

#wrap {
    width: 100%;
    min-height: calc(100vh - 50px);
    max-width: 500px;
    margin: auto;
    overflow: hidden;
    position: relative;
    background: #FFFFFF;
    padding-bottom: 50px;
}

#content {
    width: 100%;
    margin: 50px auto 0 auto;
}

#content::after {
    content: "";
    display: block;
    clear: both;
}

#content.trading{
    margin: auto;
}

.area{
    width: 90%;
    margin: auto;
    position:relative;
}

.area::after{
    content: "";
    display: block;
    clear: both;
}


input[type="text"],
input[type="password"],
select{
    width: 100%;
    height: 58px;
    line-height: 58px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    padding-left: 16px;
    font-size: 16px;
    color: #000;
    background: transparent;
    border-radius: 10px;
}


input[type="number"]:disabled ,
input[type="text"]:disabled ,
input[type="password"]:disabled{
    background-color: #F8F8F8;
    color:#ABABAE;
}

input[type="number"] {
    border-radius: 5px;
    border: 1px solid #E4E5E7;
    background-color: #F8F8F8;
    font-size: 14px;
    text-indent: 16px;
    width:100%;
}
input[type="number"]::placeholder {
    color: #ABABAE;
}


input[type=password] { font-family: 'Noto Sans KR'; }



select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(../../images/common/icon_dropdown.svg) right 10px center no-repeat;
    color: #000;
    border-radius: 10px !important;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder{
    color: #AAAAAA;
}

.input_box{
    position: relative;
}

.input_box .controll_btn{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0,-50%);
}

.input_box .controll_btn a{
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin-right: 14px;
}

.input_box .controll_btn a:last-child{
    margin-right: 0;
}

select {
	border-radius:0; /* 아이폰 사파리 보더 없애기 */
	-webkit-appearance:none; /* 화살표 없애기 for chrome*/
	-moz-appearance:none; /* 화살표 없애기 for firefox*/
	appearance:none /* 화살표 없애기 공통*/
}
select::-ms-expand{ display:none /* 화살표 없애기 for IE10, 11*/ }


input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: rgba(8, 12, 21, 0.2);
    cursor: pointer;
    border-radius: 3px;
    /* iOS */
    transition: background 450ms ease-in;
}

input[type=range]:focus {
    outline: none;
    background: rgba(8, 12, 21, 0.2);
    ;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 18px;
    background: #fff;
    border: 2px solid #0E1766;
    border-radius: 20px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 18px;
    background: #fff;
    border: 2px solid #0E1766;
    border-radius: 20px;
    cursor: pointer;
}

.futures input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 18px;
    background: #fff;
    border: 2px solid #73768D;
    border-radius: 20px;
    cursor: pointer;
}

.futures input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 18px;
    background: #fff;
    border: 2px solid #73768D;
    border-radius: 20px;
    cursor: pointer;
}



table{
    width: 100%;
    text-align: center;
}

table th{
    font-size: 12px;
    color: #000000;
    box-sizing: border-box;
    padding: 10px 0;
    min-height: 40px;
    text-align: center;
}

table td{
    font-size: 13px;
    color: #000000;
    border-bottom: 1px solid #EEEEEE;
    box-sizing: border-box;
    padding: 10px 0;
}

.base-btn{
    width:100%;
    height:58px;
    line-height:58px;
    border-radius: 10px;
    text-align: center;
    font-size:17px;
    font-weight: 700;
    color:#fff;
    background-color: #0006FF;
}
.base-btn.off{
    color:#fff;
    background-color: #DDDDDD;
}

.bar-box{
    height:1em;
    background-color: #F7F7F7;
}

/* 체크 박스 css */
input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    color: #000000; /* text color*/
}

input[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    width: 24px;  /* icon size*/
    height: 24px; /* icon size*/
    background: url(../../images/common/checkbox_off.svg) center /100% no-repeat;
}

input[type="checkbox"]:checked + label:after {
    background: url(../../images/common/checkbox_on.svg) center /100% no-repeat;
}
