
/**************************************************************************************************************
	공통
**************************************************************************************************************/
.m0 { margin:0  !important }
.mb0 { margin-bottom:0 !important }
.mb2 { margin-bottom:2px !important }
.mb4 { margin-bottom:4px !important }
.mb5 { margin-bottom:5px !important }
.mb6 { margin-bottom:6px !important }
.mb10 { margin-bottom:10px !important }
.mb15 { }
.mb20 { margin-bottom:20px !important }
.mb25 { margin-bottom:25px !important }
.mb30 { margin-bottom:30px !important }
.mb35 { margin-bottom:35px !important }
.mb40 { margin-bottom:40px !important }
.mb45 { margin-bottom:45px !important }
.mb50 { margin-bottom:50px !important }
.mb55 { margin-bottom:55px !important }
.mb60 { margin-bottom:60px !important }
.mb70 { margin-bottom:70px !important }
.mb80 { margin-bottom:80px !important }
.mb90 { margin-bottom:90px !important }
.mb110 { margin-bottom:110px !important }
.ml5 { margin-left:5px !important }
.ml10 { margin-left:10px !important }
.ml20 { margin-left:20px !important }
.pd0 { padding:0 !important }
.pdb10 { padding-bottom:30px !important }
.pd30 { padding:30px !important }
.pd10 { padding:10px !important }
.pdt50 { padding-top:50px !important; }
.pr20 { padding-right:20px; }
.f10 { font-size:10px !important;  }
.f11 { font-size:11px !important;  }
.f12 { font-size:12px !important;  }
.f13 { font-size:13px !important;  }
.f14 { font-size:14px !important; }
.f34 { font-size:34px !important;  }
.f16 { font-size:16px !important;  }
.f17 { font-size:17px !important;  }
.f18 { font-size:18px !important;  }
.f19 { font-size:19px !important;  }
.f20 { font-size:20px !important;  }
.f24 { font-size:24px !important;  }
.f25 { font-size:25px !important;  }
.f29 { font-size:29px !important;  }
.f31 { font-size:31px !important;  }

/***********************************************************************************
	Common
************************************************************************************/
html,body,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,big,cite,code,del,dfn,em,font,img,ins,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,ul,ol,li,dl,dt,dd,table,caption,tbody,tfoot,thead,tr,th,td,fieldset,fo7m,label,legend,input,button,textarea,select{margin:0;padding:0}
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption{display:block;margin:0;padding:0}
legend{display:block;overflow:hidden;position:absolute;width:1px;height:1px;font-size:1px;line-height:0;text-indent:-999em;white-space:nowrap; }
fieldset,img,table,caption,tbody,tfoot,thead,tr,th,td,button,hr{border:0 none}
img{vertical-align:middle}
body li{*vertical-align:top}
ul li{list-style:none; padding:0; margin:0;}
table{border-collapse:collapse}
caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;}
button{overflow:visible;border:0 none;cursor:pointer; outline:none; }
button::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="reset"]::-moz-focus-inner {padding: 0;border: 0 none}
a { text-decoration:none; color: #000; }
address, em { font-style:normal }
body,input,select,textarea,button,h1,h2,h3,h4,h5,h6 { font-family:'noto', sans-serif; font-size:14px; color: #000;}
body,textarea,input,select { font-family:'noto', sans-serif; font-size:13px; color: #000; text-decoration: none; }
textarea,.inp,select { border:0; outline:none; border-radius:0; resize:none; box-shadow:none; -webkit-appearance:none; appearance:none; font-weight: normal;}
a:hover { text-decoration: none;}
body { -webkit-text-size-adjust: none; background:none; }
form { padding: 0; margin: 0; }
* {box-sizing: border-box; -webkit-box-sizing:border-box;}
::-ms-clear { display: none;}
select::-ms-expand { display:none; }
a,a:active,a:visited { text-decoration:none !important; }
p,div { word-break:keep-all; }
img { max-width:100%; }
