/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-text-size-adjust : none; /* í¬ë¡¬, ì‚¬íŒŒë¦¬, ì˜¤íŽ˜ë¼ ì‹ ë²„ì „ / */
	-ms-text-size-adjust : none; /* / IE / */
	-moz-text-size-adjust : none; /* / íŒŒì´ì–´í­ìŠ¤ / */
	-o-text-size-adjust : none; /* / ì˜¤íŽ˜ë¼ êµ¬ë²„ì „ / */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {text-decoration:none; color: inherit;}

input, textarea, button , select {
	appearance: none;
	border-radius: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	outline: 0;
}

input[type='radio']{
	appearance: none;
}

img {max-width: 100%; height: auto; vertical-align: top;} /* ì´ë¯¸ì§€ ë°˜ì‘í˜• */

/* ios ê¸°ë³¸ ìŠ¤íƒ€ì¼ ì œê±° */
input{
	/*iosëŒ€ì‘*/
	appearance: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

select{
	/*iosëŒ€ì‘*/
	-webkit-appearance: none;
	-moz-appearance: none; 
	appearance: none;

	/*í™”ì‚´í‘œ ë°°ê²½ ë„£ê¸°*/
	background: url('ì´ë¯¸ì§€ê²½ë¡œ') no-repeat 98% 50% #fff; /*í™”ì‚´í‘œ selectë°•ìŠ¤ ì˜¤ë¥¸ìª½ ì¤‘ì•™ ë°°ì¹˜,ë°°ê²½ í°ìƒ‰*/
}
select::-ms-expand{ 
	display:none; /* í™”ì‚´í‘œ ì—†ì• ê¸° for IE10, 11*/
}