.body{
	position: relative;
	overflow-x: hidden;
}
.more{
    position: relative;
    top: -400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.custom-pagination {
    display: flex;
   position: absolute;
    bottom: 0;
    width: 100%;
}
.swiper-horizontal{
	height: 700px;
}
.finance-slider .swiper-slide li.text_wrap{
	display: flex;
    flex: 1;
    width: 50%;
}

/* section2 */
.section2 {
	width: 100%;
    position: relative;
	padding: 70px 250px 0 250px;
}
.finance-slider{
    background: #FFF;
}
.finance-slider .swiper-slide{
	display: flex;
	justify-content:space-between;
}
.finance-slider .swiper-slide li{
	position: relative;
}
.finance-slider .swiper-slide li.text_wrap{
	flex:1;
	width: 50%;
}
.finance-slider .swiper-slide li.img_wrap{
	width: 50%;
	padding-right: 40px;
}
.white_box{
	background: white;
	width: 100%;
}
.white_box h1{
	font-size:50px;
}
.comments{
	position: relative;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blue_box span {
	font-size:28px;
    border-bottom: solid 1px #f5ece2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.blue_box .comments{
	font-size:28px;
    border-bottom: solid 1px #f5ece2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.blue_box{
	height: 85%;
}
.blue_box img{
	width: 100%;
	height: 100%;
}
.white_box .no1{
	margin:0;
	color: #002e6c;
	font-weight: bold;
	font-size: 26px;
	letter-spacing: 2px;
}
.white_box p{
	font-size: 21px;
}
.white_box_btn{
	display: flex;
    justify-content: flex-end;
}
.main_box .blue_box .more2{
	display:none;
}
.jageum{
	font-size:20px;
	padding: 15px 30px;
	background: #002e6c;
    color: #FFF;
	text-decoration: none;
}
.pasang{
	font-size:20px;
	margin-left: 10px;
	padding: 15px 30px;
	background: #002e6c;
    color: #FFF;
	text-decoration: none;
}
.slide{
	display: flex;
	justify-content: flex-end;
	gap: 0;
}
.shortcut_btn {
	position: relative;
	margin-top: 150px;
	font-size: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 60px;
    text-decoration: none;
    border: none;
	background: #002e6c;
	width: 150px;
	height: 50px;
}

 .arrow{
	display: flex;
	width: 200px;
}
 .arrow button{
	border: none;
	background:none;
}
 .arrow img{
	width: 100%;
}

.main_box .white_box h1{
	margin:0px;
}
.main_box .white_box p{
	font-size:18px;
}
.white_box .p2{
    line-height: 2;
}
.kidb span{
	opacity: 0.8;
}
/* workings */
.workings{
	background: url(../img/bg3.png) no-repeat center center/cover;
	height: 850px;
}
.workings .working .kidb {
    color: #FFF;
    position: relative;
    top: 290px;
}
.workings .working .icons {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 340px;
    gap: 200px;
}
.workings .working .icons img{
	width 100px;
	height: 100px;
	margin-bottom: 30px;
}
.workings .working .icons .icon p{
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-item: center;
}
.workings .working .icons .icon2 p{
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-item: center;
}
.workings .working .icons .icon3 p{
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-item: center;
}
.workings .working .kidb h1{
	font-size: 44px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.workings .working .kidb h4{
	font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
	margin-bottom: 40px;
	letter-spacing: 4px;
	text-align: center;
}
.workings .working .kidb span{
	font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.workings .working .kidb p{
	font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
}

.arrows{
	display: flex;
}
.building {
	height: 100%;
	gap:40px;	
    display: flex; 
    flex-wrap: wrap;
    padding: 70px 250px 0 250px;
    justify-content: space-between;
}

.building span{
	border-bottom: solid 1px black;
	font-size: 18px;
	font-weight: 1000;
	margin-bottom:30px;
	height: 415px;
}

.building .archive h1{
	font-size: 38px;
	margin-top: 20px;
}
.building .archive p{
	font-size: 18px;
	font-weight: 400;
	line-height: 40px;
	margin-top: 20px;
}
.custom-pagination .arrows button{
	border: none;
	background:none;
}
.archive{
	width: 50%;
	background: white;
	flex:1;
	position: relative;
}
.building_img{
	width: 50%;
	display: flex;
	justify-content: flex-end;
}

/* media */
@media (max-width: 1680px) {
	.building {
		padding: 4.1667vw 10.8810vw 0.1667vw 10.8810vw;
	}
	.section2{
		padding: 4.1667vw 10.881vw 0 10.881vw;
	}
}
@media (max-width: 1400px) {
	.building{
		padding: 8.1667vw 2.8810vw 4.1667vw 2.8810vw;
	}
	.section2{
		padding: 4.1667vw 2.8810vw 0 2.8810vw;
	}
}
@media (max-width: 1024px) {
	.ment p{
		font-size: 16px;
	}
	.building .archive p{
		font-size: 16px;
	}
	.building_img img{
		height: auto;
		width: 100%;
	}
	.more{
		top: -300px;
	}
	.building{
		flex-direction: column-reverse;
		height: auto;
	}
	.finance-slider .swiper-slide{
		flex-direction: column;
		gap:40px;
	}
	.white_box_btn{
		justify-content: flex-start;
	}
	.section2 .swiper-horizontal{
		height: 900px;
	}
	.finance-slider .swiper-slide li.img_wrap{
		width: 100%;
		padding:0;
	}
	.finance-slider .swiper-slide li.text_wrap{
		width: 100%;
	}
	.finance-slider .swiper-slide li.img_wrap{
		height: 400px;
	}
	.blue_box img {
		width: 100%;
		height: 400px;
	}
	.archive_wrap{
		flex-direction: column;
	}
	.swiper-horizontal{
		height: 900px;
	}
	.building_img {
		width: 100%;
	}
	.archive{
		width: 100%;
	}
	.building .archive p {
		height: 300px;
	}


}
@media (min-width: 768px) {
	.ham_logo img{
		display: none;
	}
}
@media (max-width: 768px) {
	.swiper-horizontal{
		height: 1000px;
	}
	.building .archive p{
		height: 300px;
	}
	.workings {
		height: 177.1vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: -1px;
	}
	.workings .working .kidb{
		top: 0;
	}
	.white_box .no1 {
		font-size: 4.4vw;
	}
	.section2 .swiper-horizontal {
		height: 760px;
	}
}
@media (max-width: 480px) {
	.workings .working .kidb h1 {
		font-size: 9.2vw;
	}
	.workings .working .kidb h4 {
		font-size: 6.3vw;
	}
	.workings .working .kidb span {
		font-size: 3.8vw;
	}
	.workings .working .kidb p {
		font-size: 3.8vw;
	}
}








