
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/img/logo/nson_og_img.jpg">
    <meta property="og:title" content="주식회사 엔슨">
    <meta property="og:url" content="http://nsonlaser.com/kor">
    <meta property="og:description" content="우리는 끊임없는 의료기기 연구개발을 통해 당신의
    아름다운 여정을 만들어가는 바디엔지니어 전문가들입니다">
    <meta name="description" content="우리는 끊임없는 의료기기 연구개발을 통해 당신의
    아름다운 여정을 만들어가는 바디엔지니어 전문가들입니다">
    <meta property="og:site_name" content="주식회사 엔슨">

    <meta name="naver-site-verification" content="cae69a60e42de5dc3c63c542c6cd9cbed280dfe1" />
    <!-- <link rel="icon" href="" /> -->
    <link rel="icon" type="image/png" href="/img/icon/nson_favi.png">
    <!-- FONT -->
    <link rel="stylesheet" href="/font/font.css">
    <!-- CSS -->
        <title>엔슨 l 피부미용의료기기 전문기업</title>
        <link rel="stylesheet" href="/utils/css/reset.css">
    <link rel="stylesheet" href="/utils/css/scroll.css">
    <link rel="stylesheet" href="/utils/plugin/swiper8.4.4/swiper.css">
    <link rel="stylesheet" href="/utils/plugin/malihuScroll/malihuScroll.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- SCRIPT -->
    <script src="/utils/js/direct.js"></script>
    <script src="/utils/plugin/gsap3.11.3/gsap.min.js"></script>
    <script src="/utils/plugin/gsap3.11.3/ScrollTrigger.min.js"></script>
    <script src="/utils/plugin/gsap3.11.3/ScrollSmoother.min.js"></script>
    <script src="/utils/plugin/gsap3.11.3/DrawSVGPlugin.min.js"></script>
    <script src="/utils/plugin/jquery.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="/utils/plugin/malihuScroll/malihuScroll.js"></script>

    <script src="/js/kjy_min.js"></script>
    <script src="/js/subVisual.js"></script>

    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "엔슨",
        "url": "https://nsonlaser.com/",
        "sameAs": [
            "https://www.youtube.com/@nsonlaser"

        ]
    }
    </script>

    <!-- 
    
			"https://post.naver.com/노출계정", -->
    <!-- "https://blog.naver.com/노출계정", -->
    <!-- "https://cafe.naver.com/노출계정", -->
    <!-- "https://www.instagram.com/노출계정", -->
    <!-- "https://www.facebook.com/노출계정", -->
    <!-- "https://tv.naver.com/노출계정"

-->


    <script type="text/javascript" src="https://nsonlaser.com/lib/js/itboard.js"></script>

    <!-- Google Tag Manager -->
    <!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MSNNSHX');</script> -->
    <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZGP656ER05"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-ZGP656ER05');
    </script>

</head>

<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MSNNSHX" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) --><header>
    <div class="wrap" max="1800">
        <div class="logo">
            <a href="/kor"><img src="/img/logo/logo.svg" alt="" width="169"></a>
        </div>

        <nav>

                        <ul class="gnb">
                <li>
                    <a href="/kor/about/nson.php">회사소개</a>
                </li>
                <li>
                    <a href="/kor/tech/tech.php">기술력</a>
                </li>
                <li>
                    <a href="/kor/product/pento.php">제품소개</a>
                </li>
                <li>
                    <a href="/kor/joinus/culture_sub.php">채용</a>
                </li>
                <li>
                    <a href="/kor/ad/news.php">홍보센터</a>
                </li>
                <li>
                    <a href="/kor/inquiry/inquiry.php">문의</a>
                </li>
            </ul>

            

            <div class="loc-menu">
                <div class="loc">
                    <img src="/img/icon/loc_icon.png" alt="">
                    <ul class="langWrap">
                        <li><a href="/kor/index.php">KOR</a></li>
                        <li><a href="/eng/index.php">ENG</a></li>
                    </ul>
                </div>
                <div class="menu">
                    <span></span>
                    <span></span>
                </div>
            </div>

        </nav>

    </div>

    
                            <div class="depthWrap" style="height:245px; padding:0px 0px;">
        <style>
            header .depthWrap .depth>li{
                padding : 0px 0px 35px 0px;
            }
        </style>

                <style>
                    header .depthWrap .depth>li{
                        width:134px;
                    }
                </style>
                <div class="wrap jcfe" max="1570">
            <ul class="depth">
                <li>
                    <!-- <a href="">회사소개</a> -->
                    <ul class="depthSub">
                        <li><a href="/kor/about/nson.php">엔슨</a></li>
                        <li><a href="/kor/about/history.php">연혁</a></li>
                        <li><a href="/kor/about/ci.php">CI</a></li>
                        <li><a href="/kor/about/network.php">네트워크</a></li>
                        <li><a href="/kor/about/location.php">오시는길</a></li>
                    </ul>
                </li>
                <li>
                    <!-- <a href="/kor/tech/tech.php">기술력</a> -->
                    <ul class="depthSub">
                        <li><a href="/kor/tech/tech.php">기술력</a></li>
                    </ul>
                </li>
                <li style="width:174px;">
                    <!-- <a href="/kor/product/pento.php">제품소개</a> -->
                    <ul class="depthSub">
                        <li><a href="/kor/product/pento.php">PENTO 9900</a></li>
                        <li><a href="/kor/product/veloce.php">SUPER VELOCE 4800</a></li>
                        <li><a href="/kor/product/next.php">NEW LINE UP</a></li>
                    </ul>
                </li>
                <li>
                    <!-- <a href="/kor/joinus/culture_sub.php">채용</a> -->
                    <ul class="depthSub">
                        <li><a href="/kor/joinus/culture.php">조직문화</a></li>
                        <li><a href="/kor/joinus/working.php">근무환경</a></li>
                        <li><a href="/kor/joinus/welfare.php">복리후생</a></li>
                        <li><a href="/kor/joinus/progress.php">채용절차</a></li>
                    </ul>
                </li>
                <li>
                    <!-- <a href="/kor/ad/news.php">홍보센터</a> -->
                    <ul class="depthSub">
                        <li><a href="/kor/ad/news.php">보도자료</a></li>
                        <li><a href="/kor/ad/display.php">전시학회</a></li>
                        <li><a href="/kor/ad/promote.php">홍보자료</a></li>
                    </ul>
                </li>
                <li>
                    <!-- <a href="/kor/inquiry/inquiry.php">문의</a> -->
                    <ul class="depthSub">
                        <li><a href="/kor/inquiry/inquiry.php">고객문의</a></li>
                        <li><a href="/place/index.php" target="_blank">병원찾기</a></li>
                    </ul>
                </li>
            </ul>
                    </div>
    </div>

    <div class="ham">
                <ul class="wrap" max="1800">
            <li>
                <a href="/kor/about/nson.php">회사소개</a>
                <ul class="hamdepth">
                    <li><a href="/kor/about/nson.php">엔슨</a></li>
                    <li><a href="/kor/about/history.php">연혁</a></li>
                    <li><a href="/kor/about/ci.php">CI</a></li>
                    <li><a href="/kor/about/network.php">네트워크</a></li>
                    <li><a href="/kor/about/location.php">오시는길</a></li>
                </ul>
            </li>
            <li>
                <a href="/kor/tech/tech.php">기술력</a>
                <ul class="hamdepth">
                    <li><a href="/kor/tech/tech.php">기술력</a></li>
                </ul>
            </li>
            <li>
                <a href="/kor/product/pento.php">제품소개</a>
                <ul class="hamdepth">
                    <li><a href="/kor/product/pento.php">PENTO 9900</a></li>
                    <li><a href="/kor/product/veloce.php">SUPER VELOCE 4800</a></li>
                    <li><a href="/kor/product/next.php">NEW LINE UP</a></li>
                </ul>
            </li>
            <li>
                <a href="/kor/joinus/culture_sub.php">채용</a>
                <ul class="hamdepth">
                    <li><a href="/kor/joinus/culture.php">조직문화</a></li>
                    <li><a href="/kor/joinus/working.php">근무환경</a></li>
                    <li><a href="/kor/joinus/welfare.php">복리후생</a></li>
                    <li><a href="/kor/joinus/progress.php">채용절차</a></li>
                </ul>
            </li>
            <li>
                <a href="/kor/ad/news.php">홍보센터</a>
                <ul class="hamdepth">
                    <li><a href="/kor/ad/news.php">보도자료</a></li>
                    <li><a href="/kor/ad/display.php">전시학회</a></li>
                    <li><a href="/kor/ad/promote.php">홍보자료</a></li>
                </ul>
            </li>
            <li>
                <a href="/kor/inquiry/inquiry.php">문의</a>
                <ul class="hamdepth">
                    <li><a href="/kor/inquiry/inquiry.php">고객문의</a></li>
                    <li><a href="/place/index.php" target="_blank">병원찾기</a></li>
                </ul>
            </li>
        </ul>
            </div>

        <div class="subtab">
        <div class="wrap" max="1800">
            <ul class="about__h">
                <li><a href="/kor/about/nson.php">엔슨</a></li>
                <li><a href="/kor/about/history.php">연혁</a></li>
                <li><a href="/kor/about/ci.php">CI</a></li>
                <li><a href="/kor/about/network.php">네트워크</a></li>
                <li><a href="/kor/about/location.php">오시는길</a></li>
            </ul>
            <ul class="product__h">
                <li><a href="/kor/product/pento.php">PENTO 9900</a></li>
                <li><a href="/kor/product/veloce.php">SUPER VELOCE 4800</a></li>
                <li><a href="/kor/product/next.php">NEW LINE UP</a></li>
            </ul>
            <ul class="join__h">
                <li><a href="/kor/joinus/culture.php">조직문화</a></li>
                <li><a href="/kor/joinus/working.php">근무환경</a></li>
                <li><a href="/kor/joinus/welfare.php">복리후생</a></li>
                <li><a href="/kor/joinus/progress.php">채용절차</a></li>
            </ul>
            <ul class="ad__h">
                <li><a href="/kor/ad/news.php">보도자료</a></li>
                <li><a href="/kor/ad/display.php">전시학회</a></li>
                <li><a href="/kor/ad/promote.php">홍보자료</a></li>
            </ul>
        </div>
    </div>

    
</header>



<script>
h();

// 대메뉴 마우스오버

$('header nav .gnb>li').on('mouseover', function() {
    $('header').css('background-color', '#000');
    $('.depthWrap').stop().slideDown();
});

$('header nav .gnb>li').on('mouseleave', function() {
    $('header').removeAttr('style');
    $('.depthWrap').stop().slideUp();
});

$('.depthWrap').on('mouseover', function() {
    $('header').css('background-color', '#000');
    $('.depthWrap').stop().slideDown();
});
$('.depthWrap').on('mouseleave', function() {
    $('header').removeAttr('style');
    $('.depthWrap').stop().slideUp();
});


// 언어 선택 마우스오버(pc)
$('header nav .loc-menu .loc').mouseover(function() {
    var wp = $(window).innerWidth();

    if (wp >= 769) {
        $(this).find('.langWrap').stop().slideDown();
    }

});
$('header nav .loc-menu .loc').mouseleave(function() {
    var wp = $(window).innerWidth();

    if (wp >= 769) {
        $(this).find('.langWrap').stop().slideUp();
    }
});

// 언어 선택 클릭(mobile)
$('header nav .loc-menu .loc').click(function() {
    var wp = $(window).innerWidth();

    if (wp < 769) {
        $(this).find('.langWrap').slideToggle();
    }

});



// 전체메뉴
var hamchk = 0;

$('header nav .loc-menu .menu').click(function() {

    if (hamchk == 0) {
        $(this).addClass('active');
        $('header .ham').addClass('down');
        $('header').addClass('hamnav');
        $('header.scroll-down').addClass('tp');
        $('body').css('overflow', 'hidden');

        hamchk = 1;
    } else if (hamchk == 1) {
        $(this).removeClass('active');
        $('header .ham').removeClass('down');
        $('header').removeClass('hamnav');
        $('header.scroll-down').removeClass('tp');
        $('body').css('overflow', 'unset');


        hamchk = 0;
    }

});
</script>
<div class="__intro">
    <svg version="1.1" id="word" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 299.9 33.9" style="enable-background:new 0 0 299.9 33.9;" xml:space="preserve">
        <g id="nson">
            <path id="n_2" style="fill:#FFFFFF;" d="M290.9,0v22c-0.7-0.5-1.1-0.8-1.5-1.1c-6.8-6.3-13.6-12.5-20.4-18.9c-1.4-1.3-2.8-2.2-4.7-2
                c-2,0.2-4.1,0-6.3,0v26v7.8c2.7,0,5.5,0,8.2,0c0.2,0,0.4,0,0.7-0.1v-22c1.9,1.8,3.6,3.3,5.3,4.8c5.9,5.5,11.8,11,17.8,16.5
                c0.5,0.5,1.3,0.7,1.9,0.8c2.6,0.1,5.3,0.1,7.9,0.1V0H290.9z"/>
            <path id="o" style="fill:#FFFFFF;" d="M218,14.4V9.9c-0.6-5.1-4.5-8-8.4-9.1c-1.6-0.5-3.2-0.6-4.9-0.6c-11.8,0-23.5,0-35.3,0v9.5
                c0,3.2,0,6.3,0,9.5v3.9c0.1,2.5,0.7,4.8,2.6,6.8c2.7,2.9,6.1,4.1,9.9,4.1c12,0.1,24.1,0,36.1,0v-11C218,20.1,217.9,17.2,218,14.4z
                M209.1,22.3c0,2.6-1,3.8-3.5,3.8c-7.9,0-15.8,0-23.7,0c-2.5,0-3.5-1.2-3.5-3.9c0-3.5,0-6.9,0-10.4c0-2.9,1-4,3.9-4
                c3.8,0,7.7,0,11.5,0c3.8,0,7.6,0,11.3,0c3.1,0,4.1,1,4.1,4.3C209.1,15.5,209.1,18.9,209.1,22.3z"/>
            <path id="s" style="fill:#FFFFFF;" d="M94.4,0.1c-2.9,0-5.6,0.5-7.9,2.6c-3.4,3-4.6,7.1-3.3,11.1c1.3,3.8,5.3,6.9,9.4,7
                c8.3,0.1,16.5,0,24.8,0c2.6,0,3.2,0.7,3,3.4c-0.1,1.3-0.7,2-2,2c-2.2,0-4.5,0-6.7,0c-9.7,0-19.4,0-29,0v7.8c11.8,0,23.5,0,35.3,0
                c3.1,0,6-0.7,8.4-3c2-2,3.1-4.3,3.1-6.9v-0.1c0-0.9-0.1-1.7-0.3-2.6c-0.9-4-3.6-6.4-7.3-7.5c-1.3-0.4-2.6-0.4-4-0.4
                c-7.8,0-15.6,0-23.4,0c-2.2,0-2.9-0.8-2.8-3.2c0.1-1.5,0.7-2.2,2.1-2.2c11.9,0,23.7,0,35.6,0V0.1C117.8,0.1,106.1,0.1,94.4,0.1z"/>
            <path id="n_1" style="fill:#FFFFFF;" d="M33.8,22c-1.2-1-2.1-1.8-3-2.6C24,13.2,17.3,6.9,10.5,0.7c-0.4-0.4-1-0.6-1.6-0.6
                C6,0,3,0,0,0v33.9h9.8V11.7c1.4,1.2,2.5,2.2,3.5,3.2c6.3,5.9,12.7,11.8,19,17.7c0.9,0.9,1.9,1.3,3.2,1.3c2.4,0,4.8,0,7.2,0v-7.8
                V0.2h-8.9V22z"/>
        </g>
        <g id="line">
            <rect id="n_" x="40.7" y="26.1" style="fill:#FFFFFF;" width="45" height="7.8"/>
            <rect id="o_" x="216" y="26.1" style="fill:#FFFFFF;" width="45" height="7.8"/>
            <rect id="s_" x="127.5" y="0.1" style="fill:#FFFFFF;" width="45" height="7.8"/>
        </g>
    </svg>
</div>

<script>
    intro.init();
</script>
<div id="smooth-wrapper">
    <div id="smooth-content">
        <main class="_m">

            <div class="v">

                <div class="videoBg">
                    <iframe src="https://player.vimeo.com/video/779096645?h=0872d53c51&background=1&quality=720p" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen width="100%" height="100%"></iframe>
                </div>

                <div class="wrap" max="1800">
                    <h2 class="t">
                        <strong>WHO WE ARE</strong>
                        <span>WHO WE ARE</span>
                    </h2>

                    <ul>
                        <li>
                            <p>We are professional body-engineers leading your beautiful journey</p>
                            <span>We are professional body-engineers leading your beautiful journey</span>
                        </li>
                        <li>
                            <p>by constant R&D of beauty care solutions</p>
                            <span>by constant R&D of beauty care solutions</span>
                        </li>
                    </ul>

                    <div class="s_t">
                        <p>The superior standard of laser technology solution</p>
                        <div class="b_logo">
                            <img src="/img/logo/logo.svg" alt="" width="1152">
                            <div class="shadow">
                                <img src="/img/logo/logo.svg" alt="" width="1152">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="se_1">
                
                <div class="list">

                    <div class="padding"></div>

                    <div class="scroll-img" style="background-image: url('/img/main/se1_img03_test.jpg');"></div>

                    <div class="wrap" max="1280">

                        <div class="tb">
                            <dl>
                                <dt>
                                    TECHNOLOGY
                                </dt>
                                <dd>
                                    Professional laser technology specialized in beauty care solution
                                </dd>
                            </dl>
                            <div class="bt">
                                <p>
                                    끊임없는 연구개발로 레이저 기반의 검증된<br> 의료기기 솔루션과 수준 높은 전문성을 보유하고 있습니다
                                </p>
                                <a href="/kor/tech/tech.php" class="link">
                                    <p>MORE <img src="/img/arrow/more_arrow.png" alt=""></p>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="list">

                    <div class="padding"></div>

                    <div class="scroll-img" style="background-image: url('/img/main/se1_img02_color.jpg');"></div>

                    <div class="wrap" max="1280">

                        <div class="tb">
                            <dl>
                                <dt>
                                    PROFESSIONALITY
                                </dt>
                                <dd>
                                    Constant effort on precise and safe beauty care devices
                                </dd>
                            </dl>
                            <div class="bt">
                                <p>엔슨만의 경험과 노하우로 정교하고 안전한<br> 전문 뷰티 디바이스를 제공합니다</p>
                                <a href="/kor/about/nson.php" class="link">
                                    <p>MORE <img src="/img/arrow/more_arrow.png" alt=""></p>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="list">

                    <div class="padding"></div>

                    <div class="scroll-img" style="background-image: url('/img/main/se1_img03_test02.jpg');"></div>

                    <div class="wrap" max="1280">

                        <div class="tb">
                            <dl>
                                <dt>
                                    SERVICE
                                </dt>
                                <dd>
                                    Supply sustainable client satisfaction business
                                </dd>
                            </dl>
                            <div class="bt">
                                <p>체계적인 고객관리로 보다 나은 서비스를 제공하여 <br>지속 가능한 고객 지향 비즈니스를 실현합니다</p>
                                <a href="/kor/inquiry/inquiry.php" class="link">
                                    <p>MORE <img src="/img/arrow/more_arrow.png" alt=""></p>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="se_2">

                <div class="wrap" max="1920">

                    <ul>

                        <li>
                            
                            <div class="lbx">

                                <div class="video">
                                    <iframe id="scrollVideo1" src="https://player.vimeo.com/video/796123327?h=da98e0d116&quality=720p&controls=false&muted=true&loop=true" frameborder="0" allow="fullscreen; picture-in-picture" allowfullscreen width="100%" height="100%"></iframe>
                                </div>

                                <div class="t1"></div>
                                <div class="r1"></div>
                                <div class="b1"></div>
                                <div class="l1"></div>
                            </div>

                            <div class="rbx">

                                <div class="l_b1"></div>
                                <div class="r_b1"></div>

                                <div class="l_b2"></div>
                                <div class="r_b2"></div>

                                <dl class="big_t" align="right">
                                    <!-- <dt>8가지 맞춤형 필터로</dt> -->
                                    <dd>아름다움에 빛을 켜다</dd>
                                    <!-- <dt>벨로체</dt>
                                    <dd>SUPER <br>VELOCE4800</dd> -->
                                </dl>

                                <div class="more">

                                    <dl class="sig_t">
                                        <dt>super</dt>
                                        <dd>VELOCE 4800</dd>
                                    </dl>

                                    <!-- <p>
                                        짧은 시간에 균일한 강도의 빛을 피부에 조사하여 시술 효과를 극대화하는 슈퍼벨로체4800, 8가지 교체형 필터로 맞춤형 피부 질환 치료를 진행합니다.
                                    </p> -->

                                    <a href="/kor/product/veloce.php">
                                        <p>MORE <img src="/img/arrow/more_arrow.png" alt=""></p>
                                    </a>

                                </div>

                            </div>

                        </li>
                        
                        <li>
                            <div class="rbx">

                                <div class="t1"></div>
                                <div class="r1"></div>
                                <div class="b1"></div>
                                <div class="l1"></div>

                                <dl class="sig_t">
                                    <dd>PENTO<br>9900</dd>
                                </dl>

                                <div class="more">

                                    <dl class="big_t" align="left">
                                        <!-- <dt>듀얼파장</dt> -->
                                        <dd>
                                            빛으로 피부를 디자인하다
                                            <!-- <p>레이저 정밀제어 및 공진기술로 만들어낸 펜토</p> -->
                                        </dd>
                                    </dl>

                                    <!-- <p>
                                        레이저 정밀제어 및 공진기술로 안정적이고 균일한 빛을 만들어 냅니다. 자체 냉각 시스템으로 피부를 보호하고 에너지를 균일하게 만들어내어 보다 안전하고 다양한 치료에 효과적입니다.
                                    </p> -->

                                    <a href="/kor/product/pento.php">
                                        <p>MORE <img src="/img/arrow/more_arrow.png" alt=""></p>
                                    </a>

                                </div>


                            </div>
                            <div class="lbx">

                                <div class="video">
                                    <iframe id="scrollVideo2" src="https://player.vimeo.com/video/796126491?h=185f9b4557&quality=720p&controls=false&muted=true&loop=true" frameborder="0" allow="fullscreen; picture-in-picture" allowfullscreen width="100%" height="100%"></iframe>
                                </div>

                                <div class="l_b2"></div>
                                <div class="r_b2"></div>
                            </div>
                        </li>

                    </ul>

                </div>

            </div>

            <div class="se_3">

                <div class="wrap" max="1800">

                    <div class="lx">
                        <dl>
                            <dt>WHAT'S NEW</dt>
                            <dd>Upcoming solutions based on market trends and customer needs</dd>
                        </dl>
                        <p>
                            엔슨은 전세계 뷰티 헬스케어 시장의 흐름과 고객의<br> 니즈에 초점을 맞춘 다양한 제품군을 출시 할 예정입니다
                            <!-- 뷰티 전문 플랫폼의 '향후 트렌드'를 확인하세요! -->
                        </p>
                    </div>

                    <div class="rx">
                        <ul>
                            <li>
                                <a href="/kor/product/next.php">
                                    <!-- <div class="num">(01)</div> -->
                                    <div class="tbx">
                                        <h2>
                                            <strong>Pento 755</strong>
                                            <!-- <span><img src="/img/icon/coming.png" alt=""> Coming soon</span> -->
                                        </h2>
                                        <p>To be released in 2023</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/kor/product/next.php">
                                    <!-- <div class="num">(02)</div> -->
                                    <div class="tbx">
                                        <h2>
                                            <strong>Pento 1064</strong>
                                            <!-- <span><img src="/img/icon/coming.png" alt=""> Coming soon</span> -->
                                        </h2>
                                        <p>To be released in 2023</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/kor/product/next.php">
                                    <!-- <div class="num">(03)</div> -->
                                    <div class="tbx">
                                        <h2>
                                            <strong>Veloce Lite</strong>
                                            <!-- <span><img src="/img/icon/coming.png" alt=""> Coming soon</span> -->
                                        </h2>
                                        <p>To be released in 2024</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/kor/product/next.php">
                                    <!-- <div class="num">(04)</div> -->
                                    <div class="tbx">
                                        <h2>
                                            <strong>VSLS-7</strong>
                                            <!-- <span><img src="/img/icon/coming.png" alt=""> Coming soon</span> -->
                                        </h2>
                                        <p>To be released in 2024</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>

            <div class="se_4">
                <div class="wrap" max="1280">

                    <div class="t_f">
                        <h2>News</h2>
                        <a href="/kor/ad/news.php">discover more</a>
                    </div>

					                 <ul class="news">
                        <li>
                            <a href="http://www.hantoday.net/news/articleView.html?idxno=38909" target='_blank'>
                                <dl>
                                    <dt>2023.06.16</dt>
                                    <dd>엔슨 펜토 9900, 레이저 이용한 손발톱 진균증 치료로 보험수가 획득</dd>
                                </dl>
                                <div class="img" style="background-image: url(/data/board/NEWS/3717457937_Ws18oSeb_4f587c56be9151d3477e31e695e9971c584969d5.jpg);"></div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.medisobizanews.com/news/articleView.html?idxno=105820" target='_blank'>
                                <dl>
                                    <dt>2023.03.30</dt>
                                    <dd>엔슨, 이루다 공동마케팅으로 ‘KIMES 2023’ 성황리 마무리</dd>
                                </dl>
                                <div class="img" style="background-image: url(/data/board/NEWS/3717457937_OmfsWEy3_a5dfbeeecb125de75f6445bf38888338b04a2c11.jpg);"></div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.sentv.co.kr/news/view/615805" target='_blank'>
                                <dl>
                                    <dt>2022.04.01</dt>
                                    <dd>이루다 김용한 대표이사, 엔슨의 신임 대표이사에 선임…전략적 협업 기대</dd>
                                </dl>
                                <div class="img" style="background-image: url(/data/board/NEWS/3717457937_dV9Ke5zH_4fbf9872b5fb34410a985fddae72b6713856eeb0.jpg);"></div>
                            </a>
                        </li>
                </ul>
                    <div class="t_f contact">
                        <h2>contact</h2>
                        <ul>
                            <li>
                                <strong>경산 본사</strong>
                                <p>경상북도 경산시 진량읍 다문로 188-15</p>
                            </li>
                            <li>
                                <strong>안양 사무소</strong>
                                <p>경기도 안양시 만안구 덕천로 152번길 25, B동 9층</p>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="se_5">

                <div class="wrap" max="1280">
                    <dl>
                        <dt>people and culture</dt>
                        <dd>사람을 중시하고 직원의 가치를 인정하는 기업, 엔슨과 함께 나아갈 인재를 환영합니다</dd>
                    </dl>

                    <ul>
                        <li>
                            <a href="/kor/joinus/culture.php">
                                <div class="icon">
                                    <img src="/img/icon/se5_icon01.png" alt="">
                                </div>
                                <p>조직문화</p>
                            </a>
                        </li>
                        <li>
                            <a href="/kor/joinus/working.php">
                                <div class="icon">
                                    <img src="/img/icon/se5_icon02.png" alt="">
                                </div>
                                <p>근무환경</p>
                            </a>
                        </li>
                        <li>
                            <a href="/kor/joinus/welfare.php">
                                <div class="icon">
                                    <img src="/img/icon/se5_icon03.png" alt="">
                                </div>
                                <p>복리후생</p>
                            </a>
                        </li>
                        <li>
                            <a href="/kor/joinus/progress.php">
                                <div class="icon">
                                    <img src="/img/icon/se5_icon04.png" alt="">
                                </div>
                                <p>채용절차</p>
                            </a>
                        </li>
                    </ul>

                    <div class="link">
                        <a href="/kor/joinus/culture.php">
                            discover more
                        </a>
                    </div>
                    

                </div>

            </div>

        </main>
        
        <footer>
    <div class="wrap" max="1280">
                <ul class="gnb">
            <li>
                <a href="/kor/about/nson.php">회사소개</a>
                <ul class="dep2">
                    <li><a href="/kor/about/nson.php">엔슨</a></li>
                    <li><a href="/kor/about/history.php">연혁</a></li>
                    <li><a href="/kor/about/ci.php">CI</a></li>
                    <li><a href="/kor/about/network.php">네트워크</a></li>
                    <li><a href="/kor/about/location.php">오시는길</a></li>
                </ul>
            </li>
            <li>
                <a href="/kor/tech/tech.php">기술력</a>
                <ul class="dep2">
                    <li><a href="/kor/tech/tech.php">기술력</a></li>
                </ul>
            </li>
            <li>
                <a href="/kor/product/pento.php">제품소개</a>
                <ul class="dep2">
                    <li><a href="/kor/product/pento.php">PENTO 9900</a></li>
                    <li><a href="/kor/product/veloce.php">SUPER VELOCE 4800</a></li>
                    <li><a href="/kor/product/next.php">NEW LINE UP</a></li>
                </ul>
            </li>
            <li>
                <a href="/kor/joinus/culture.php">채용</a>
                <ul class="dep2">
                    <li><a href="/kor/joinus/culture.php">조직문화</a></li>
                    <li><a href="/kor/joinus/working.php">근무환경</a></li>
                    <li><a href="/kor/joinus/welfare.php">복리후생</a></li>
                    <li><a href="/kor/joinus/progress.php">채용절차</a></li>
                </ul>
            </li>
            <li>
                <a href="/kor/ad/news.php">홍보센터</a>
                <ul class="dep2">
                    <li><a href="/kor/ad/news.php">보도자료</a></li>
                    <li><a href="/kor/ad/display.php">전시학회</a></li>
                    <li><a href="/kor/ad/promote.php">홍보자료</a></li>
                </ul>
            </li>
            <li>
                <a href="/kor/inquiry/inquiry.php">문의</a>
                <ul class="dep2">
                    <li><a href="/kor/inquiry/inquiry.php">고객문의</a></li>
                    <li><a href="/place/index.php" target="_blank">병원찾기</a></li>
                </ul>
            </li>
        </ul>
                <div class="b_f">
            <div class="lbx">
                <div class="logo">
                    <img src="/img/logo/footer_logo.svg" alt="" width="169">
                </div>
                <ul class="sns">
                    <li><a href="https://www.youtube.com/channel/UCwtMVN6gPl6FxD4i-UgK56w?app=desktop"
                            target="_blank"><img src="/img/icon/youtube_icon.png" alt=""></a></li>
                    <li><a href="https://pf.kakao.com/_rxcgGxj" target="_blank"><img src="/img/icon/kakao_icon.png"
                                alt=""></a></li>
                    <!-- <li><a href="https://pf.kakao.com/_rxcgGxj/chat" target="_blank"><img src="/img/icon/kakao_icon.png"
                                alt=""></a></li> -->
                    <li><a href="https://blog.naver.com/nson0406" target="_blank"><img src="/img/icon/face_icon.png"
                                alt=""></a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100092216120797&is_tour_dismissed=true" target="_blank">
                        <img src="/img/icon/facebook_logo.png" alt="" width="18px" height="17px"></a></li>
                        <!-- <img src="/img/icon/facebook_social.png" alt="" width="18px" height="17px"></a></li> -->
                </ul>
            </div>
            <div class="rbx">

                                <div class="link kor">
                    <a>개인정보처리방침</a>
                </div>

                <div class="address">
                    <p><strong>회사명</strong>주식회사 엔슨</p>
                    <p><strong>사업자등록번호</strong>755-87-00192</p>
                    <p><strong>대표자</strong>김용한</p>
                    <p><strong>대표번호</strong>053-857-5995</p>
                    <p><strong>대표이메일</strong>nson@nsonlaser.com</p>
                    <p><strong>주소</strong>경상북도 경산시 진량읍 다문로 188-15</p>
                </div>

                
                <p class="copy">
                    COPYRIGHT © NSON CO. ALL RIGHTS RESERVED.
                </p>

            </div>
            <div class="family">
                family site
                <ul>
                    <li>
                        <a href="https://ilooda.com/" target="_blank">
                            <img src="/img/logo/footer_ilooda.png" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.iloodamall.com/" target="_blank">
                            <img src="/img/logo/footer_iloodamall_wh.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</footer>
<script>
$('._notice').click(function() {
    alert("준비중입니다.");
    return false;
});

$('footer .b_f .family').click(function() {
    $('footer .b_f .family>ul').slideToggle();
});
</script>
    </div>
</div>

<script src="/utils/plugin/swiper8.4.4/swiper.js"></script>

<script>
    gsap.registerPlugin(ScrollTrigger);
    ScrollSmoother.create({smooth: 1});
    nLInit();
</script>
<style>
    .bk_popup {position: fixed; left: 5%; top: 5%; max-width: 500px; width: 70vw; z-index: 99999; display: flex; flex-direction: column;}
    .bk_popup .img {height: auto; background-color: #fff;}
    .bk_popup .img img { height: auto !important;}
    .bk_popup .img a{display: flex;}
    .bk_popup .close {height: 20%; display: flex; justify-content: space-between; background: #000; color: #fff; padding: 10px 15px; box-sizing: border-box; align-items: center;}
    .bk_popup .close label {display: flex; cursor: pointer;}
    .bk_popup .close label input {position:absolute; width: 0;}
    .bk_popup .close label input:checked + p::before {background-image: url(/img/btn/check_b.png); background-repeat: no-repeat; background-position: center; background-size: 50% auto;}
    .bk_popup .close label p {display: flex; font-size: 16px; align-items: center;}
    .bk_popup .close label p::before {width: 20px; height: 20px; background: #fff; border-radius: 1000px; content: ''; display: block; margin-right: 10px;}
    .bk_popup .close a {color: #fff; font-size: 16px;}

    @media screen and (max-width:768px){
        .bk_popup{max-width: 300px;}
        .bk_popup .close label p,
        .bk_popup .close a {font-size: 14px;}
        .bk_popup .close label p::before {margin-right: 5px; width: 15px; height: 15px;}
    }
</style>
<script type="text/javascript">
function setCookie( name, value, expirehours ) {
	var todayDate = new Date();
	todayDate.setHours( todayDate.getHours() + expirehours );
	document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";"
}
function getCookie( name ){
	var nameOfCookie = name + "=";
	var x = 0;
	while ( x <= document.cookie.length ){
		var y = (x+nameOfCookie.length);
		if ( document.cookie.substring( x, y ) == nameOfCookie ){
			if ( (endOfCookie=document.cookie.indexOf( ";", y )) == -1 )
				endOfCookie = document.cookie.length;
			return unescape( document.cookie.substring( y, endOfCookie ) );
		}
		x = document.cookie.indexOf( " ", x ) + 1;
		if ( x == 0 )
			break;
	}
	return "";
}
</script>

<div class="click-modal kor">
            
    <div class="closebg"></div>

    <div class="cont">
        <div class="close">
            <i class="ri-close-line"></i>
        </div>
        <h2>개인정보처리방침</h2>
        <div class="scroll">
            <div class="tbx">
                “(주)엔슨”(이하 “회사”)는 개인정보보호법에 따라 이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다. 고객님의 정보는 개인의 소중한 자산인 동시에 회사 운영의 중요한 자료가 됩니다. 그러므로 회사는 운영상의 모든 과정에서 고객님의 개인정보를 보호하는데 최선의 노력을 다할 것을 약속 드립니다. 회사는 개인정보처리방침을 개정하는 경우 웹사이트를 통하여 공지할 것입니다. <br>
                <br>
                <p>제 1장. 개인정보 수집 동의절차</p>
                회사는 귀하께서 웹사이트의 개인정보보호방침 또는 이용약관의 내용에 대해 (동의한다)버튼 또는 (동의하지 않는다)버튼을 클릭할 수 있는 절차를 마련하여 (동의한다)버튼을 클릭하면 개인정보 수집에 대해 동의한 것으로 봅니다.
                <br>
                <br>
                <p>제 2장. 개인정보의 수집 및 이용 목적</p> 
                회사는 개인정보를 다음의 목적을 위해 활용합니다. 처리한 개인정보는 다음의 목적 이외의 용도로는 사용되지 않으며 이용 목적이 변경될 시 사전동의를 구할 예정입니다. <br>
                가. 이름, 이메일, 전화번호, 휴대폰번호 : 문의에 대한 처리 및 결과 회신, 고지사항 전달, 본인 의사 확인, 불만 처리 등 원활한 의사소통 경로의 확보, 서비스 부정이용 방지, 접속 빈도파악, 회원제 서비스 이용에 따른 본인 식별 절차, 이벤트 및 광고성 정보 제공 및 참여기회 제공, 접속 빈도파악 또는 회원의 서비스이용에 대한 통계<br>
                나. 주소 : 경품과 물품 배송에 대한 정확한 배송지의 확보
                <br>
                <br>
                <p>제 3장. 광고정보의 전송</p> 
                가. 회사는 귀하의 명시적인 수신거부의사에 반하여 영리목적의 광고성 정보를 전송하지 않습니다.<br>
                나. 회사는 약관변경, 기타 서비스 이용에 관한 변경사항, 새로운 서비스/신상품이나 이벤트 정보, 기타 상품정보 등을 전자우편, 휴대폰 문자전송 기타 전지적 전송매체 등의 방법으로 알려드립니다. 이 경우 관련 법령상 명시사항 및 명시방법을 준수합니다.<br>
                다. 회사는 상품정보 안내 등 온라인 마케팅을 위해 광고성 정보를 전자우편 등으로 전송하는 경우전자 우편의 제목란 및 본문란에 귀하가 쉽게 알아 볼 수 있도록 조치합니다.
                <br>
                <br>
                <p>제 4장. 개인정보의 수집범위</p> 
                회사는 별도의 회원가입 절차 없이 대부분의 콘텐츠에 자유롭게 접근할 수 있습니다. 회원제 서비스를 이용하고자 할 경우 다음의 정보를 입력해 주셔야 합니다.<br>
                가. 개인정보 수집항목 : 이름, 이메일, 전화번호, 휴대폰번호SMS 수신여부, 서비스 이용기록, 접속로그, 받는 고객 정보(이름, 전화번호, 주소, 이메일)<br>
                나. 개인정보 수집방법 : 홈페이지 내 문의 및 게시판 이용 등
                <br>
                <br>
                <p>제 5장. 개인정보의 보유 및 이용기간</p> 
                회사는 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.<br>
                <br>
                -보존항목 : 이름, 이메일, 전화번호, 휴대폰번호<br>
                -보존근거 : 불량 회원의 부정한 이용의 재발 방지<br>
                -보존기간 : 1개월<br>
                <br>
                그리고 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다. <br>
                소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래 등에서의 소비자보호에 관한 법률)
                <br>
                <br>
                <p>제 6장. 개인정보의 파기 절차 및 방법</p> 
                회사는 원칙적으로 개인정보 처리목적이 달성된 경우에는 지체 없이 해당 개인정보를 파기합니다. 파기의 절차, 기한 및 방법은 다음과 같습니다.
                <br>
                <br>
                -파기절차<br>
                회원님이 회원가입 등을 위해 입력하신 정보는 목적 달성 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장 된 후 파기합니다. 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유 이외의 다른 목적으로 이용되지 않습니다.<br>
                -파기기한<br>
                이용자의 개인정보는 개인정보의 보유기간이 경과된 경우에는 보유기간의 종료일로부터 5일 이내에, 개인정보의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보가 불필요하게 되었을 때에는 개인정보의 처리가 불필요한 것으로 인정되는 날로부터 5일 이내에 그 개인정보를 파기합니다.<br>
                -파기방법<br>
                전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용합니다.

                <br>
                <br>
                <p>제 7장. 개인정보의 안전성 확보 조치</p> 
                회사는 개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 조치를 하고 있습니다.<br>
                가. 개인정보 취급 직원의 최소화 및 교육개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화 하여 개인정보를 관리하는 대책을 시행하고 있습니다.<br>
                나. 개인정보의 암호화이용자의 개인정보는 비밀번호는 암호화 되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한 데이터는 파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다.
                <br>
                <br>
                <p>제 8장. 개인정보 보호책임자 작성</p> 
                회사는 고객님께서 정보를 안전하게 이용할 수 있도록 최선을 다하고 있습니다. 고객님의 개인정보를 취급하는 책임자는 다음과 같으며 개인정보 관련 문의사항에 신속하고 성실하게 답변해드리고 있습니다.
                <br>
                <br>
                ▶ 개인정보보호 담당자<br>
                이름 : 류승연<br>
                소속/직위 : 마케팅팀/프로<br>
                e-mail : rsy@nsonlaser.com<br>
                전화번호 : 053-857-5995<br>
                정보 주체께서는 회사 서비스를 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당자에게 문의하실 수 있습니다.
                <br>
                <br>
                <p>제 9장. 의견수렴 및 불만처리</p> 
                회사는 회원님의 의견을 소중하게 생각하며, 회원님은 의문사항으로부터 언제나 성실한 답변을 받을 권리가 있습니다. 회사는 회원님과의 원활한 의사소통을 위해 고객센터를 운영하고 있습니다.<br>
                <br>
                실시간 상담 및 전화상담은 영업시간에만 가능합니다. 이메일 및 우편을 이용한 상담은 수신 후 24시간 내에 성실하게 답변 드리겠습니다. 다만, 근무시간 이후 또는 주말 및 공휴일에는 익일 처리하는 것을 원칙으로 합니다.도용된 개인정보에 대한 회사의 조치는 다음과 같습니다.<br>
                <br>
                1. 이용자가 타인의 기타 개인정보를 도용하여 회원가입 등을 하였음을 알게 된 때에는 지체 없이 해당 아이디에 대한 서비스 이용정지 또는 회원탈퇴 등 필요한 조치를 취합니다.<br>
                2. 자신의 개인정보 도용을 인지한 이용자가 해당 아이디에 대해 서비스 이용정지 또는 회원탈퇴를 요구하는 경우에는 즉시 조치를 취합니다.<br>
                기타 개인정보에 관한 상담이 필요한 경우에는 개인정보침해신고센터, 대검찰청 인터넷범죄수사센터, 경찰청 사이버테러대응센터 등으로 문의하실 수 있습니다.<br>
                <br>
                개인정보침해센터 (http://www.118.or.kr)대검찰청<br>
                인터넷범죄수사센터 (http://icic.sppo.go.kr)경찰<br>사이버테러대응센터 (http://www.police.go.kr/ctrc/ctrc_main.htm)
                <br>
                <br>
                <p>제 10장. 고지의 의무</p> 
                이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.
            </div>
        </div>
    </div>
</div>

<div class="click-modal eng">
        
    <div class="closebg"></div>

    <div class="cont">
        <div class="close">
            <i class="ri-close-line"></i>
        </div>
        <h2>Privacy Policy</h2>
        <div class="scroll">
            <div class="tbx">
                NSON (here there after referred as “Company”) has established the following Privacy Policy in accordance with the “Personal Information Protection Act” to safeguard the personal information and rights of the Users and efficiently deal with Users’ grievances related to personal information. Customers’ information is a valuable resource and at the same time an important information for the management of the Company. Therefore, the Company promises to make utmost effort to protect the customers’ personal information in every stage while managing these information. The Company will notify the Privacy Policy statement via our website in the case of any amendment. <br>
                <br>
                <p>Article 1. Consent Procedure for Personal Information Collection</p>
                The Company has a separate procedure for you to click “I agree” or “I don’t agree” button regarding the content of the Privacy Policy or terms of service, where if you click the "I agree" button, it is deemed that you have agreed to the Company’s collection of your personal information.
                <br>
                <br>
                <p>Article 2. Purpose of Collection and Use of Personal Information</p> 
                The Company uses the personal information for the purposes described below. Any personal information processed shall not be used for purposes other than what is stated below; provided, that your prior consent will be sought in case there are changes to originally prescribed purposes.<br>
                1. Name, email, phone number, mobile phone number: to reply regarding any inquiries, give notifications, confirm, establish active communication channel for customer services, prevent fraudulent use, identify frequency of visits, check personal identification for membership service, provide information on promotions and opportunities for participation of event, identify frequency of visit or to obtain statistics on the member’s use of services.<br>
                2. Address: to secure the shipping information giveaways and purchased products.
                <br>
                <br>
                <p>Article 3. Advertisement Information Transmission</p> 
                1. The Company does not send any commercial information for profit purposes against your explicit refusal to receive email.<br>
                2. The Company informs you about and changes of the terms, other changes regarding use of services, new service or product, event information, other product information through electronic transmission media such as email, mobile phone, and SMS. In such case, we comply with the items and methods to specify in accordance to the relevant laws and regulation.<br>
                3. When sending any commercial information for profit purposes through e-mail, such as product information, the Company takes necessary measures in the subject reply sections of the e-mail for you to recognize it easily.
                <br>
                <br>
                <p>Article 4. Scope of Personal Information Collection</p> 
                You can freely access most of our contents without signing up. If you would like to use the Company’s membership services, you must enter the following information:<br>
                1. Items of Personal Information Collection: name, e-mail, phone number, mobile phone numberSMS receipt consent, service usage history, visit logs, recipient information (name, phone number, address, e-mail)<br>
                2. Methods of Personal Information Collection: using inquiry board in the home page and etc.
                <br>
                <br>
                <p>Article 5. Period of Retaining and Utilizing Personal Information</p> 
                The Company dispose the personal information without delay once the purpose of its collection and use has been attained.
                However, the following information is stored for specified period by the reason as follows:<br>
                <br>
                -Items retained: name, e-mail, phone number, mobile phone number<br>
                -Basis of retainment: prevention of fraudulent use of rogue members<br>
                -period of retainment: one month<br>
                <br>
                According to the provisions of the relevant laws, if necessary, the Company retains the member information for a certain period of time specified by the relevant statutes as follows:<br>
                Records on processing of consumers’ complaints or disputes: three years (Act on the Consumer Protection in Electronic Commerce)
                <br>
                <br>
                <p>Article 6. Procedures and Methods for Destroying Personal Information</p> 
                In principle, the Company dispose the information without delay once the purpose of process of personal information is attained. The dispose procedure and method are as follows.
                <br>
                <br>
                -Dispose procedure<br>
                The information that you provide for sign-up is moved to a separate database (a separate file box for papers) after the information is used for the intended purpose, stored for certain period of time for reasons of information protection under internal policy and relevant legislation and destroyed. The information transferred to a separate database is not used for any other purpose than being retained unless specified by law.<br>
                -Disposal period<br>
                personal information of the Users shall be disposed within the 5 days since the expiration date of the retention period, and in the case where the personal information is no longer necessary, such as fulfillment of purpose of personal information processing, discontinuation of relevant services or closure of business, etc., personal information is destroyed within the 5 days since the day when such information becomes of no use.<br>
                -Dispose method<br>
                The personal information stored in files is deleted in technical ways that prevent any recovery of the record.

                <br>
                <br>
                <p>Article 7. Securing Safety of Personal Information</p> 
                Under safety article 29 of Personal Information Protection Act, the Company takes measures to secure safety as follows.<br>
                1. Minimization and education of the person in charge of personal information management <br>
                The Company is implementing measures to manage personal information by designating and minimizing personnel handling personnel.<br>
                2. Encryption of personal information <br>
                Personal information of User is encrypted and stored; and the Company also uses separate security features, such asencryption when storing and delivering for important data.
                <br>
                <br>
                <p>Article 8. Response of the Person in Charge of Personal Information Protection</p> 
                The Company does its best to make sure customers can safely use its service. The person in charge of customers’ personal information is as follows. The person in charge will respond quickly and sincerely to any personal information related inquiries.
                <br>
                <br>
                ▶ Person in charge of personal information<br>
                Name: Seung Yeon Ryu<br>
                Position: Marketing Department<br>
                e-mail: nson@nsonlaser.com<br>
                Telephone: 053-857-5995<br>
                The information subject may inquire about all personal information protection related matters, complaint handling, damage relief, etc. that occurred using the Company’s service to the person in charge of personal information protection and department in charge
                <br>
                <br>
                <p>Article 9. Feedback Procedure and Complaint Handling</p> 
                The Company values the customers’ opinions and believe that customers have rights to receive sincere response to their inquiries. The Company operates customer service center for active communication with the customers.<br>
                <br>
                Real-time counseling and phone call counseling are available only during the business hour. In the case of counseling through e-mail or post, we will return the response within 24 hours after receiving it. However, if inquiries are received after the working hours or during the weekends and holidays, it will be processed next day.<br>
                The Company takes the following measures on misused personal information.
                <br>
                <br>
                1. If the Company finds that User signed up by abusing other’s personal information, the Company will take necessary measure such as service discontinuation and the account deletion for the ID in concern.<br>
                2. If User notices one’s personal information abuse and requests for discontinuation of service use or account deletion for the ID in concern the Company will immediately take the measure.<br>
                If you need other personal information related consultation, you can also contact KISA PRIVACY center, Supreme Prosecutors’ Office Cybercrime Investigation Department, and Korean National Police Agency cyber terror response center.<br>
                <br>
                KISA PRIVACY center (http://www.118.or.kr)<br>
                Supreme Prosecutors’ Office Cybercrime Investigation Department   (http://icic.sppo.go.kr)<br>
                Korean National Police Agency cyber terror response center(http://www.police.go.kr/ctrc/ctrc_main.htm)
                <br>
                <br>
                <p>Article 10. Duty of Notification</p> 
                The current Privacy Policy is implemented at the date of issue and in the case of any addition of modification, deletion, and revision under laws and regulations, the Company will notify seven days before its implementation through announcement.
            </div>
        </div>
    </div>
</div>

<script src="/utils/plugin/malihuScroll/malihuScroll.js"></script>
<script>
    // 모달 관련
    $('.click-modal .scroll').mCustomScrollbar();


    // 국문 모달
    function modalClose(){
        $('.click-modal').hide();
    }
    function modalOpen(){
        $('.click-modal.kor').show();
    }

    // 모달끄기
    $('.click-modal .cont .close').click(modalClose);
    $('.click-modal .closebg').click(modalClose);

    // 모달켜기
    $('footer .b_f .rbx .link.kor').click(modalOpen);




    // 영문 모달
    function modalClose2(){
        $('.click-modal').hide();
    }
    function modalOpen2(){
        $('.click-modal.eng').show();
    }

    // 모달끄기
    $('.click-modal .cont .close').click(modalClose2);
    $('.click-modal .closebg').click(modalClose2);

    // 모달켜기
    $('footer .b_f .rbx .link.eng').click(modalOpen2);

</script>

</body>
</html>