@font-face {
    font-family: 'Dashboard';
    src: url('Dashboard-Regular.woff2') format('woff2'),
        url('Dashboard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

